<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.software.dcaamsp.mapper.SysRolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.hd.software.dcaamsp.po.SysRolePermission" >
    <result column="DP_RESP_ID" property="dpRespId" jdbcType="DECIMAL" />
    <result column="DP_RESP_ROLEID" property="dpRespRoleid" jdbcType="OTHER" />
    <result column="DP_RESP_PERMISSIONID" property="dpRespPermissionid" jdbcType="OTHER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DP_RESP_ID, DP_RESP_ROLEID, DP_RESP_PERMISSIONID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hd.software.dcaamsp.po.SysRolePermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_ROLE_PERMISSION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hd.software.dcaamsp.po.SysRolePermissionExample" >
    delete from SYS_ROLE_PERMISSION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hd.software.dcaamsp.po.SysRolePermission" >
    insert into SYS_ROLE_PERMISSION (DP_RESP_ID, DP_RESP_ROLEID, DP_RESP_PERMISSIONID
      )
    values (#{dpRespId,jdbcType=DECIMAL}, #{dpRespRoleid,jdbcType=OTHER}, #{dpRespPermissionid,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hd.software.dcaamsp.po.SysRolePermission" >
    insert into SYS_ROLE_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dpRespId != null" >
        DP_RESP_ID,
      </if>
      <if test="dpRespRoleid != null" >
        DP_RESP_ROLEID,
      </if>
      <if test="dpRespPermissionid != null" >
        DP_RESP_PERMISSIONID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dpRespId != null" >
        #{dpRespId,jdbcType=DECIMAL},
      </if>
      <if test="dpRespRoleid != null" >
        #{dpRespRoleid,jdbcType=OTHER},
      </if>
      <if test="dpRespPermissionid != null" >
        #{dpRespPermissionid,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hd.software.dcaamsp.po.SysRolePermissionExample" resultType="java.lang.Integer" >
    select count(*) from SYS_ROLE_PERMISSION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_ROLE_PERMISSION
    <set >
      <if test="record.dpRespId != null" >
        DP_RESP_ID = #{record.dpRespId,jdbcType=DECIMAL},
      </if>
      <if test="record.dpRespRoleid != null" >
        DP_RESP_ROLEID = #{record.dpRespRoleid,jdbcType=OTHER},
      </if>
      <if test="record.dpRespPermissionid != null" >
        DP_RESP_PERMISSIONID = #{record.dpRespPermissionid,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_ROLE_PERMISSION
    set DP_RESP_ID = #{record.dpRespId,jdbcType=DECIMAL},
      DP_RESP_ROLEID = #{record.dpRespRoleid,jdbcType=OTHER},
      DP_RESP_PERMISSIONID = #{record.dpRespPermissionid,jdbcType=OTHER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>